
.header {
  height: 70px;
  background-color: rgb(40, 27, 87);
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
.left-side img {
  width: 40px; 
  height: 40px; 
  margin-right: 10px; 
}
.left-side {
  display: flex;
  align-items: center;
}

.left-side p {
  margin: 0;
  font-weight: bold;
  font-size: 26px; 
  font-style: italic;
}

.right-side {
  
  display: flex;
  align-items: center;

}

.avatar {
  background-color: #fff;
  font-size: 24px; 

}
